.chat {
    margin-top: $chatTopMargin;
    width: $chatMainWidth;
    border: $chatBorder;
}

.send-message {
    display: none;
    width: $msgInputWidth;
    margin-top: $msgInputTopSeparation;
    border: $msgInputBorder;
    padding: $msgInputPadding;

    .message {
        width: $msgInputBoxWidth;
    }
}

.messages {
    :first-child {
        font-weight: bold;
        font-size: $chatInitFontSize;
        color: $chatInitFontColor;
        text-align: center;
    }

    :nth-child(2) {
        text-align: right;
        font-weight: bold;
        padding-right: $userJoinPaddingRight;
    }

    :nth-child(n+3) {
        text-align: right;
        padding-right: $messagePaddingRight;
    }

}
